body {
    margin: 0;
}

.header {
    position: fixed;
    background-color: #FFFFFF;
    width: 100vw;
    margin-top: 0;
    padding-top: 5%;
}

.logo {
    
    display: flex;
    justify-content: center;
}

.listMenu {
    display: flex;
    justify-content: space-evenly;; 
}

.menuItem {
    list-style: none;
}

a {
    font-family: 'Rubik', sans-serif;
    color: #4a4a4a;
    text-decoration: none;
    
}

.main {
    margin: 0;
    height: 100vh;
    padding-top: 10%;
    background-color: #3CDBC0;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold
}

@media all and (min-width: 768px) {

    .header {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: -3%;  
        padding-bottom: 2%; 
    }

    .logo {
        justify-content: flex-start;
    }

    .menuItem {
        padding-right: 25%;
    }
    .main {
        font-size: 40px;
    }
}